body {
    font-family: 'Noto Sans KR', sans-serif;
}

.site {
    color: #999;
}

.site:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content{
    margin-bottom: 3em;
}

.loading img {
    width: 1px;
    height: 1px;
}

.role-content {
    margin-bottom: 1.5em;
}
