body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

.site {
    color: #999;
}

.site:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content{
    margin-bottom: 3em;
}

.role-content {
    margin-bottom: 2em;
    background-color: #e6e6e6;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    white-space: pre-line;
}

.admin {
    display: block;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 !important;
}

.role-content h2 {
    font-family: 'Yeon Sung', cursive;
}
